name: "Build and push Super Mario Docker image with static tag to Docker Hub"

on:
  push:
    branches:
      - main

jobs:
  build_push_supermario_docker_image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: login to docker
        run: echo "${{secrets.DOCKERHUB_TOKEN}}"  | docker login -u ${{secrets.DOCKERHUB_USERNAME}} --password-stdin
      - name: build and push docker image
        run: |
          docker build -t docker.io/krishna3780/supermario:new .
          docker push docker.io/krishna3780/supermario:new