name: Build deploy and debug
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    outputs: 
      build_id: ${{ steps.build-step.outputs.build-id }}
    steps:
      - name: Build step
        id: build-step
        run: echo "build-id=$((RANDOM))" >> $GITHUB_OUTPUT
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Display build id
        run: |
          echo "Deploying build ${{ needs.build.outputs.build_id }}"
          exit 1
  debug:
    needs: [ build,deploy ]
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    steps:
      - name: show build and deploy status 
        run: |
          echo "build and deploy failed ...."

