name: Build deploy and debug
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    outputs: 
      build_id: ${{ steps.build-step.outputs.build-id }}
    steps:
      - name: Build step
        id: build-step
        run: echo "build-id=$((RANDOM))" >> $GITHUB_OUTPUT
  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - run: echo "Deploying build ${{ needs.build.outputs.build_id }}"
  debug:
    needs: [ build,deploy ]
    runs-on: ubuntu-latest
    if: ${{ failure() }}
    steps:
      - run: |
          echo "build and deploy failed ...."

